
.header{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header h1{
    color: white;
}

body{
background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.dropdown-loc{
    width: 75%;
    padding-bottom: 10px;
    padding-left:   5px;
    padding-right:  5px;
    padding-top:    5px;
}
.rowNormal{
    padding-bottom: 10px;
}

.button-gen{
    width: 75%;
    padding-bottom: 10px;
    padding-left:   5px;
    padding-right:  5px;
    padding-top:    5px;
    }
.div-in{
    padding-top:    5px;
    padding-left:   10px;
}

.graph-results{
    padding : 2%
}